<div class="sidebar{{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <div class="logo-title">
        <div class="title">
            <img src="{{ .Site.Params.profilePicture | relURL }}" alt="profile picture">
            <h3 title=""><a href="/">{{ .Site.Params.Title }}</a></h3>
            <div class="description">
                <h4>{{ replace .Site.Params.description "\n" "<br>" | safeHTML }}</h4>
            </div>
        </div>
    </div>
    <ul class="social-links">
        {{ range $item := .Site.Params.socialIcons }}
            <li>
                <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}">
                    <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        {{ end }}
    </ul>
    <div class="twitter">
      <a class="twitter-timeline" data-lang="en" data-width="400" data-height="500" data-theme="light" href="https://twitter.com/xiaoshan1994?ref_src=twsrc%5Etfw">Tweets by xiaoshan1994</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="footer">
        <div class="by_farbox">&copy; {{ .Site.Params.author }} {{ if isset .Site.Params "copyright" }} {{ .Site.Params.copyright }} {{ else }} {{ now.Format "2006"}} {{end}}
        </div>
    </div>
</div>
